* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --shadow-color: 0deg 0% 45%;

  --shadow-elevation-high: 0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
    1.5px 6.1px 9.4px hsl(var(--shadow-color) / 0.9),
    4.8px 19.1px 29.5px hsl(var(--shadow-color) / 1);
}

.ring {
  border: 1px solid red;
}

.imageclass {
  width: 80px;
  border-radius: 70px;
  -webkit-box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
  -moz-box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
  box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
}

.nav_item {
  display: flex;
  padding-right: 180px;
}

.nav_wrapper { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 70px 0px 0px 70px;
  -webkit-box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
  -moz-box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
  box-shadow: 4px 2px 9px 2px rgba(85, 83, 105, 1);
}

.btnlog {
  padding: 5px 10px;
  width: 90px;
}

.nav_item li {
  list-style: none;
  cursor: pointer;
  margin: 0px 30px;
}

.name {
  color: red;
}

.restraurentImage {
  width: 100%;
}

.body_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchContainer {
   display: flex;
   justify-content: center;
   align-items: center;
  margin: 20px;
}

.searchContainer input {
  width: 400px;
  height: 40px;
  padding: 15px;
  border-radius: 50px 0px 0px 50px;
  border: 1px solid rgb(204, 204, 204);
}

.searchContainer button {
  width: 80px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;
  outline: none;
  border: none;
}

.shimmer {
  width: 300px;
  height: 300px;

  margin: 20px;
  background-color: rgb(217, 217, 217);
}

.shimmer_wrapper {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}
.card {
  width: 280px;
  padding: 10px;
  margin: 20px;

  transition: box-shadow 200ms ease-out 50ms;
}

.card:hover {
  box-shadow: 3px 3px 7px 7px rgba(164, 164, 164, 0.3);
}

.cuisines {
  font-size: 12px;
  padding-bottom: 30px;
}

.star {
  font-size: 10px;
}

.restrocardDescription {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.restName {
  height: 60px;
  padding: 5px 0px;
  font-size: 19px;
}

.avgRating {
  background-color: coral;
  color: aliceblue;
  padding: 1px 10px;
}

.errorWrapper {
  background-color: black;
  text-align: center;
}

.errorWrapper img {
  height: 99vh;
}

.Link {
  color: black;
  text-decoration: none;
}

.LinkforCard {
  color: black;
  text-decoration: none;
}

.Link:hover {
  color: rgb(40, 54, 148);
  text-underline-offset: 9px;
  text-decoration: underline;
}

.restraruntDetails {
  text-align: center;
}

.resWrapper {
  
    background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

 


.individualItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 160px;
  border-bottom: 1px solid grey;
  margin: 22px auto;
  padding: 0px 30px;
}
 

.individualItem:hover {
  transition: box-shadow 200ms ease-out 50ms;

  box-shadow: 3px 3px 7px 7px rgba(164, 164, 164, 0.3);
}

.restradetails{ 
  text-align: left;
  padding-left: 50px;
}

.menuImage {
  width: 190px;
  border-radius: 10px;
  /* padding-left: 20px;   */
}

.menudes{
  text-align: left;
  padding-right: 50px;
}

.nameee{
  color:brown;
}

.swiggyoffers{
  font-size: 12px;
  color: red;
}

.restraImage{
  border-radius: 10px;
}

 

.menudescription{
  font-size: 13px;
  padding-top: 15px;
  color: grey;
}

.swiggycat{
  font-size: 14px;
}

.wrapperdetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratingdetails{
  text-align: center; 
  padding: 4px; 
  padding-left: 20px;
}

.checkoutitem{
   text-align: center;
}

.cardofCheckout{
  width: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 20px auto;
}

.restraurentImageofCheck{
  width: 220px;
}

.listWrapper{
  list-style: none;
}

.listWrapper button{
  position: relative;
  bottom: 20px;
  padding: 5px;
  
}

.css-button-sliding-to-left--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #adb5bd;
  color: #adb5bd;
}
.css-button-sliding-to-left--sand:hover {
  color: #fff;
}
.css-button-sliding-to-left--sand:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--sand:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #adb5bd;
}

.footer{
  text-align: center;
  position: relative;
  left: 0;
  /* top: 58vh;  */
  width: 100%;
}